NODE_ENV=development
PORT=3000
HOST=0.0.0.0
PREFIX=api

SWAGGER_TITLE=rmis
SWAGGER_DESCRIPTION=Rider Medical Information System API description

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

JWT_SECRET=
ACCESS_TOKEN_EXPIRATION=1d
REFRESH_TOKEN_EXPIRATION=7d
